node_modules/
build/
dist/
coverage/
.DS_Store
*.log
.env*
!.env.example
recordings/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
sessions/

/src/generated/prisma

# Add all python and Sqlite + Prisma ignore file
*.db
package-lock.json